@font-face {
  font-family: Nihiwatu;
  src: url(fonts/NihiwatuDemoRegular.ttf);
}

@font-face {
  font-family: Rilenda;
  src: url(fonts/Rilenda.otf);
}

body {
  font-family: Relinda;
}

div {
  text-align: center;
}

.header-one {
  background-color: #154734;
  color: white;
  text-align: center;
  padding: 20px;
  margin-bottom: 0px;
}

h1 {
  position: relative;
  text-align: center;
  font-size: 2em;
  font-family: Nihiwatu;
}

.header-two {
  padding: 10px 0px 0px 0px;
  font-size: 16px;
  font-weight: normal;
}

.section2 {
  background-color: #a5acaf;
  padding: 30px;
}
.section3 {
  padding: 20px;
}
h2 {
  font-size: 16px;
  font-family: Rilenda;
}
h3 {
  font-family: Nihiwatu;
  font-size: 1.7em;
}
button {
  margin-top: 20px;
}
.carousel-caption {
  position: static;
}
.carousel-inner {
  width: 70%;
  height: 100%;
  margin: auto;
}
/* .carousel-item * {
  color: white;
} */

.carousel {
  margin-bottom: 5%;
}
.footer {
  padding-bottom: 100px;
}

.footer {
  background-color: #154734;
}

@media (min-width: 625px) {
  h1 {
    font-size: 3em;
  }
  .header-one {
    padding: 20px 60px;
  }
}

@media (min-width: 1000px) {
  .header-one {
    padding-top: 50px;
    font-size: larger;
  }
  .header-two {
    padding: 15px 230px 30px;
    font-size: large;
  }
  .section2 {
    padding: 40px 30px;
  }
  h2 {
    font-size: 1.4em;
  }
  button {
    padding: 15px;
    font-size: 24px;
  }
  .section3 {
    padding: 40px;
  }
  h3 {
    font-size: 2em;
  }
  .carousel-item {
    font-size: larger;
  }
  .carousel-item h4 {
    font-size: 1.7em;
  }
}

@media (min-width: 1600px) {
  .header-one {
    font-size: 1.5em;
  }
  .header-two {
    padding: 15px 400px 30px;
    font-size: 1em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 3em;
  }
}
